form, .table-data{
    margin: 30px;
}

mat-card{
    padding: 10px;
}

mat-card-header{
    margin-bottom: 20px;
}

mat-form-field{
    width: 40%;
    margin-bottom: 0px;
}

mat-card-actions{
    margin: 10px;
    margin-top: 0px;
}
