<div class="form">
    <div>
        <form #cadastroForm="ngForm" (ngSubmit)="salvar()">
            <mat-card class="card-form" appearance="outlined">
                <mat-card-header>
                    <mat-card-title>Cadastro de Clientes</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-content">
                    <section>
                        <mat-form-field appearance="outline" class="full-width" class="card-field">
                            <mat-label>Nome</mat-label>
                            <input matInput placeholder="Digite o nome" type="text" name="nome" [(ngModel)]="cliente.nome"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width" class="card-field">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Digite o email" type="email" name="email" [(ngModel)]="cliente.email"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width" class="card-field">
                            <mat-label>CPF</mat-label>
                            <input mask="000.000.000-00" matInput placeholder="Digite seu CPF" type="text" name="cpf" [(ngModel)]="cliente.cpf"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width" class="card-field">
                            <mat-label>Data de Nascimento</mat-label>
                            <input mask="00/00/0000" matInput placeholder="Digite sua data de nascimento" type="text" name="dataNascimento" [(ngModel)]="cliente.dataNascimento"/>
                        </mat-form-field>
                    </section>
                    <section>
                        <mat-form-field appearance="outline" class="full-width" class="card-field">
                            <mat-label>Telefone</mat-label>
                            <input mask="(00) 00000-0000" matInput placeholder="Digite seu telefone" type="text" name="telefone" [(ngModel)]="cliente.telefone"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width" class="card-field">
                            <mat-label>UF</mat-label>
                            <mat-select [(value)]="cliente.uf" (selectionChange)="loadMunicipios($event)" matInput placeholder="Selecione uma UF" name="siglaUf">
                                <mat-option *ngFor="let estado of estados" [value]="estado.sigla">
                                    {{ estado.sigla }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width" class="card-field">
                            <mat-label>Municípios</mat-label>
                            <mat-select [(value)]="cliente.municipio" matInput placeholder="Selecione um município" name="siglaUf">
                                <mat-option *ngFor="let municipio of municipios" [value]="municipio.nome">
                                    {{ municipio.nome }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </section>
                </mat-card-content>
                <mat-card-actions class="card-actions">
                    <button type="submit" mat-flat-button color="primary" *ngIf="!updateMode">Salvar</button>
                    <button mat-flat-button type="submit" color="accent" *ngIf="updateMode">Atualizar</button>
                    <button mat-flat-button type="submit" color="warn">Limpar</button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>