form{
    width: 60vw;
}

.card-form{
    margin: 30px;
    padding: 10px;
}

mat-card-header{
    margin-bottom: 20px;
}

section{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card-field{
    flex-grow: 1;
}

.card-actions{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 10px;
}

@media (max-width: 768px) {
  form {
    width: 100vw;
  }
}