<form #consultaForm="ngForm" (ngSubmit)="performSearch()">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Consulta</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Nome:</mat-label>
                    <input [(ngModel)]="nameSearch" name="nameSearch" matInput title="nome" type="text">
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" type="submit">Pesquisar</button>
        </mat-card-actions>
    </mat-card>
</form>